<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<script>
    function checkbox(){
        var monday = document.getElementById("monday_id");
        if(monday.checked == true){
            document.getElementById("monday_from_id")
        }

    }
</script>

<body>
<form action="" method="post">
    <fieldset>
        <legend>Set My availability</legend>
    <table>
        <tr>
            <td>Day</td>
            <td>From </td>
            <td>To</td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" name="monday" id="monday_id" value="monday"> Monday
            </td>
            <td>
                <select name="monday_from" id="monday_from_id">
                    <option>Select Here</option>
                    <option>7.00 AM</option>
                    <option>8.00 AM</option>
                    <option>9.00 AM</option>
                    <option>10.00 AM</option>
                    <option>11.00 AM</option>
                    <option>12.00 PM</option>
                    <option>1.00 PM</option>
                    <option>2.00 PM</option>
                    <option>3.00 PM</option>
                    <option>4.00 PM</option>
                    <option>5.00 PM</option>
                    <option>6.00 PM</option>
                </select>
            </td>
             <td>
                <select name="monday_to">
                    <option>Select Here</option>
                    <option>7.00 AM</option>
                    <option>8.00 AM</option>
                    <option>9.00 AM</option>
                    <option>10.00 AM</option>
                    <option>11.00 AM</option>
                    <option>12.00 PM</option>
                    <option>1.00 PM</option>
                    <option>2.00 PM</option>
                    <option>3.00 PM</option>
                    <option>4.00 PM</option>
                    <option>5.00 PM</option>
                    <option>6.00 PM</option>
                </select>
            </td>
        </tr>
        <td>
            <input type="checkbox" name="tuesday" value="tuesday"> Tuesday
        </td>
        <td>
            <select name="tuesday_from">
                <option>Select Here</option>
                <option>7.00 AM</option>
                <option>8.00 AM</option>
                <option>9.00 AM</option>
                <option>10.00 AM</option>
                <option>11.00 AM</option>
                <option>12.00 PM</option>
                <option>1.00 PM</option>
                <option>2.00 PM</option>
                <option>3.00 PM</option>
                <option>4.00 PM</option>
                <option>5.00 PM</option>
                <option>6.00 PM</option>
            </select>
        </td>

         <td>
                <select name="tuesday_to">
                    <option>Select Here</option>
                    <option>7.00 AM</option>
                    <option>8.00 AM</option>
                    <option>9.00 AM</option>
                    <option>10.00 AM</option>
                    <option>11.00 AM</option>
                    <option>12.00 PM</option>
                    <option>1.00 PM</option>
                    <option>2.00 PM</option>
                    <option>3.00 PM</option>
                    <option>4.00 PM</option>
                    <option>5.00 PM</option>
                    <option>6.00 PM</option>
                </select>
            </td>


        <tr>
            <td>
                <input type="checkbox" name="wednesday" value="wednesday"> Wednesday
            </td>
            <td>
                <select name="wednesday_from">
                    <option>Select Here</option>
                    <option>7.00 AM</option>
                    <option>8.00 AM</option>
                    <option>9.00 AM</option>
                    <option>10.00 AM</option>
                    <option>11.00 AM</option>
                    <option>12.00 PM</option>
                    <option>1.00 PM</option>
                    <option>2.00 PM</option>
                    <option>3.00 PM</option>
                    <option>4.00 PM</option>
                    <option>5.00 PM</option>
                    <option>6.00 PM</option>
                </select>
            </td>

             <td>
                <select name="wednesday_to">
                    <option>Select Here</option>
                    <option>7.00 AM</option>
                    <option>8.00 AM</option>
                    <option>9.00 AM</option>
                    <option>10.00 AM</option>
                    <option>11.00 AM</option>
                    <option>12.00 PM</option>
                    <option>1.00 PM</option>
                    <option>2.00 PM</option>
                    <option>3.00 PM</option>
                    <option>4.00 PM</option>
                    <option>5.00 PM</option>
                    <option>6.00 PM</option>
                </select>
            </td>
        </tr>
        <td>
            <input type="checkbox" name="thursday" value="thursday"> Thursday

        </td>
        <td>
            <select name="thursday_from">
                <option>Select Here</option>
                <option>7.00 AM</option>
                <option>8.00 AM</option>
                <option>9.00 AM</option>
                <option>10.00 AM</option>
                <option>11.00 AM</option>
                <option>12.00 PM</option>
                <option>1.00 PM</option>
                <option>2.00 PM</option>
                <option>3.00 PM</option>
                <option>4.00 PM</option>
                <option>5.00 PM</option>
                <option>6.00 PM</option>
            </select>
        </td>

         <td>
                <select name="thursday_to">
                    <option>Select Here</option>
                    <option>7.00 AM</option>
                    <option>8.00 AM</option>
                    <option>9.00 AM</option>
                    <option>10.00 AM</option>
                    <option>11.00 AM</option>
                    <option>12.00 PM</option>
                    <option>1.00 PM</option>
                    <option>2.00 PM</option>
                    <option>3.00 PM</option>
                    <option>4.00 PM</option>
                    <option>5.00 PM</option>
                    <option>6.00 PM</option>
                </select>
            </td>
        <tr>
            <td>
                <input type="checkbox" name="friday" value="friday"> Friday
            </td>
            <td>
                <select name="friday_from">
                    <option>Select Here</option>
                    <option>7.00 AM</option>
                    <option>8.00 AM</option>
                    <option>9.00 AM</option>
                    <option>10.00 AM</option>
                    <option>11.00 AM</option>
                    <option>12.00 PM</option>
                    <option>1.00 PM</option>
                    <option>2.00 PM</option>
                    <option>3.00 PM</option>
                    <option>4.00 PM</option>
                    <option>5.00 PM</option>
                    <option>6.00 PM</option>
                </select>
            </td>

             <td>
                <select name="friday_to">
                    <option>Select Here</option>
                    <option>7.00 AM</option>
                    <option>8.00 AM</option>
                    <option>9.00 AM</option>
                    <option>10.00 AM</option>
                    <option>11.00 AM</option>
                    <option>12.00 PM</option>
                    <option>1.00 PM</option>
                    <option>2.00 PM</option>
                    <option>3.00 PM</option>
                    <option>4.00 PM</option>
                    <option>5.00 PM</option>
                    <option>6.00 PM</option>
                </select>
            </td>
        </tr>
    </table>
<br><br>
    {% csrf_token %}
    <input type="submit" value="Submit">

</fieldset>
</form>
</body>
</html>